
.leftnav__wrap{

    // @media (min-width:992px){
    //     position: fixed;
    //     left: 0;
    // }
    .uil-user-circle{
        @media(max-width:768px){
            font-size: 4em !important;
            line-height: 1;
        }
    }

    .leftnav__menu{
        z-index: 1 !important;
        border: 0;


        button{
            @media (min-width:768px) {
                display: none;
            }
            outline: none;
            &:hover{
                outline: none;
                border: 0;
            }
        }
       
    }
   
    .leftnav__home-btn{
        background-color: #f9982f;
    }
    .leftnav__menu{
        color: var(--leftnav-color);
        .leftnav__menu-li{
            
            padding:10px 15px;
            
            
            &:hover{
                cursor: pointer;
                background-color:rgb(44 44 44 / 45%);
                opacity: 0.9;
            }
        }

        @media (max-width:768px) {
            &.deactive{
                .leftnav__menu-li{
                    display: none;
                }
            }
        }

        
    }

    &.showFull{
        @media(max-width:768px){
            position: fixed;
            top: 30px;
            z-index: 1;
            background: #000;
            width: 100%;
            left: 0;
            top: 0;
            height: 100vh;
            overflow: hidden;
            overflow-y: scroll;
            padding-left: 15px;
            padding-right: 15px;
            background: url('./../../../assets/img/2.png');
            background-repeat: no-repeat;
            background-color: var(--left-nav-bg);
            padding: 0;

            ul.leftnav__menu{
                overflow: hidden;
                overflow-y: scroll;
                height: 342px;
            }
        }


        .leftnav__menu{
            button{
                position: fixed !important;
                width: 100%;
                text-align: left;
                background:transparent !important;
                border-radius: 0;
            }
            
        }
    }

    &.fixedScroll{
        .leftnav__menu{
            button{
                position: fixed !important;
                width: 100%;
                text-align: left;
                background: rgb(0 0 0 / 29%);
                border-radius: 0;
            }
            
        }
    }
  
    
}