

<!-- <div class="leftnav__wrap" [ngClass]="menuStat? '' : 'showFull' "> -->
<div class="leftnav__wrap" [ngClass]="{ 'showFull' : menuStat === false , 'fixedScroll' : scrolled === true } ">
    <div class="row" >
        <div class="col-md-12 position-relative leftnav__menu">
            <button class="btn btn-transparent text-white  shadow-none border-0 fs-3" (click)="onMenu()">
                <i class="uil uil-bars"></i>
            </button>
        </div>

        <div class="col-md-12 text-center  mt-5">
            <img src="assets/img/extramarks-logo.png" alt="extramarks logo" width="100px">
        </div>
        <div class="col-md-12 text-center mt-2">
            <i class="uil uil-user-circle fs-1"></i>
            <p>Paul</p>
            <button class="btn rounded-3 text-white leftnav__home-btn">
                Student
            </button>
        </div>
    </div>
    <div class="row mt-4">
        
        <div class="col-md-12">
            <ul class="leftnav__menu p-0 " [ngClass]="menuStat ? 'deactive' : '' ">
                <li class="leftnav__menu-li ">
                    <div class="row ">
                        <div class="col-2">
                            <i class="uil uil-dashboard fs-4  d-inline-block"></i>
                        </div>
                        <div class="col-10 mx-auto my-auto">Dashboard</div>
                    </div>
                </li>
                <li class="leftnav__menu-li ">
                    <div class="row ">
                        <div class="col-2">
                            <i class="uil uil-book fs-4  d-inline-block"></i>
                        </div>
                        <div class="col-10 mx-auto my-auto">Study</div>
                    </div>
                </li>

                <li class="leftnav__menu-li ">
                    <div class="row ">
                        <div class="col-2">
                            <i class="uil uil-clock-seven fs-4"></i>
                        </div>
                        <div class="col-10 mx-auto my-auto">Schedule</div>
                    </div>
                </li>
                <li class="leftnav__menu-li ">
                    <div class="row ">
                        <div class="col-2">
                            <i class="uil uil-notes fs-4"></i>
                        </div>
                        <div class="col-10 mx-auto my-auto">Notes</div>
                    </div>
                </li>
                <li class="leftnav__menu-li ">
                    <div class="row ">
                        <div class="col-2">
                            <i class="uil uil-comment-redo fs-4 "></i>
                        </div>
                        <div class="col-10 mx-auto my-auto">Mentor</div>
                    </div>
                </li>
                <li class="leftnav__menu-li ">
                    <div class="row ">
                        <div class="col-2">
                            <i class="uil uil-envelope-bookmark fs-4"></i>
                        </div>
                        <div class="col-10 mx-auto my-auto">Assessement</div>
                    </div>
                </li>
                <li class="leftnav__menu-li ">
                    <div class="row ">
                        <div class="col-2">
                            <i class="uil uil-file-graph fs-4 "></i>
                        </div>
                        <div class="col-10 mx-auto my-auto">Report</div>
                    </div>
                </li>

                <li class="leftnav__menu-li ">
                    <div class="row ">
                        <div class="col-2">
                            <i class="uil uil-users-alt fs-4 "></i>
                        </div>
                        <div class="col-10 mx-auto my-auto">My Parent</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</div>
