.container-fluid{
     background-image: url("./../../../assets/img/full-bg-home.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;

    .darkNightbtn{
        position: fixed;
        z-index: 2;
        bottom: 30px;
        right: 30px;
    }
    .left-nav-bg{
        background: url('./../../../assets/img/2.png');
        background-repeat: no-repeat;
        background-color: var(--left-nav-bg);
    }
    .container{
        .cursor-pointer{
            cursor: pointer;
        }
        &.home{
            padding-bottom: 16vh; 
        }
        .card-blue-gr{
            &:before{
                content: " ";
                background: url('./../../../assets/img/rounded-border-card.svg');
                width: 100px;
              height: 100px;
              position: absolute;
            background-repeat: no-repeat;
             left: 5px;
            top: 5px;
            }
            &:after{
                content: " ";
                background: url('./../../../assets/img/rounded-border-card.svg');
                width: 100px;
                 height: 100px;
                 position: absolute;
                background-repeat: no-repeat;
                right: 5px;
                bottom: 5px;
                transform: rotate(180deg);
            }

            &.home__card-cricket-bg{
                &:before{
                    display: none;
                }
                &:after{
                    display: none;
                }
            }
        }
        .home__floating-wave-top{
            background: url("./../../../assets/img/curls.svg");
            background-size: cover;
            background-repeat: no-repeat;
            width: 513px;
            position: absolute;
            position: absolute;
             top: 0;
             right: 0;
             height: 88px;
             z-index: 0;
        } 
      
        .row{
            position: relative;
            
            .home__card-cricket-bg{
                background: url("./../../../assets/img/card-cricket.svg");
                background-size: cover;
                background-repeat: no-repeat;
            }
            .home__cricket-ball-mt-4{
                margin-top: -3em;
            }

            .home__card-dark-text{
                color: var(--dark-color-text);
                font-weight: 600;
            }
            .home__cricket-bat-steps{
                background-color: var(--whitebg-color); 
                width: 30px; 
                height: 30px;
                border-radius: 360px;
                color:  var(--dark-color-text);
            }
            .home_cricket-bat-text{
                color: var(--dark-color-text);
                font-size: 14px;
            }

            .home__cricket-letsplay{
                background-color: var(--yellow-text-color);
                color: var(--dark-color-text);
            }
            .home__cricket-quiz-text{
                color: var(--yellow-text-color);
                text-decoration: underline;
            }

            .home__about-list{
                list-style: disc;
            }
            .home__about-arrow{
                width: 30px;
                height: 30px;
                padding: 0;
                margin: 0;    line-height: 1;
                i{
                    color: var(--colot-text) ;
                }
            } 
            .home__score-list{
                padding: 0;
                .home__score-list-dot-red{
                    background-color:#50DB9F ;
                    border-radius: 360px;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                }
                .home__score-list-dot-green{
                    background-color:#EE596E ;
                    border-radius: 360px;
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                }

                
            }
            .home__score-view-btn{
                border-color: var(--yellow-text-color);
                color: var(--yellow-text-color);
                font-size: 12px;
            }

            .home__about-topshape{
                background: url('../../../assets/img/about-topshape.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 224px;
                height: 85px;
                margin-top: -99px;
                margin-bottom: 14px;
                padding-left: 120px;
                padding-top: 45px;
            }
        }
    }
    
}