.model-popup{
    max-width: 100% !important;
    display: grid;
    place-content: center;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    top: 0;
    height: 100vh;
    left: 0;
    display: none;
    &::before{
        width: 100%;
        height: 100vh;
        background: rgb(0 0 0 / 61%);
        z-index: 0;
        content: " ";
        position: fixed;
        left: 0;
        top: 0;
    }
    .row{
        position: relative;
        z-index: 1;

       
    }

    &.modelActive{
        display: grid;
    }

    .model-popup_wrap{
        background: var(--whitebg-color);
        z-index: 1;
        width: 680px;
        position: relative;

        @media (max-width:768px){
            width: 100%;
        }

        .close-btn{
            position: absolute;
            right: -65px;
            top: -40px;
            @media(max-width:768px){
                
                right: -24px;
                top: -71px;
            }
        }

        &.modelScreen2{
            background: url('../../../assets/img/model-screen2.png');
            background-repeat: no-repeat;
            background-position: center left;
            background-size: 100%;
            color: var(--dark-color-text);

            @media(max-width:768px){
                background: none;
                background-color: var(--whitebg-color);
                background-position: bottom;
                background-size: cover;
            }
            .modelScreen2_left{
                margin-top: 140px;

                .modelScreen2_polygon{
                    background: url('../../../assets/img/polygon.svg');
                    height: 116px;
                    width: 100px;
                    place-content: center;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    color: var(--blue-color-text);
                
                }
            }
            .modelScreen2_ul{
                list-style: disc;
                li{
                    font-size: 13px;
                    margin-bottom: 10px;
                   
                }
            }

            .home__cricket-letsplay{
                background-color: var(--yellow-text-color);
                color: var(--dark-color-text);
            }

            .modelScreen3{
                h5{
                    color: var(--blue-color-text);
                }
                .modelScreen3_ul{
                    li{
                        background: var(--whitebg-color);
                        margin-bottom: 10px;
                        border-radius: 6px;
                        .modelScreen3_title{
                            color: var(--blue-color-text);
                            font-weight: bold;
                            margin-right: 10px; 
                        }

                        &:hover{
                            background: #ACF9A4;
                            cursor: pointer;
                        }

                        &.activeAns{
                            background: #ACF9A4;
                            cursor: pointer;
                        }
                    }
                }
                .modelScreen3_submit{
                    width: 180px;
                }
            }

            .modelScreen4{
                img{
                    max-width: 100%;
                }
                .modelScreen4_welldone{
                    color: var(--yellow-text-color);
                }
                #checkbox1{
                    margin-right: 10px;
                }

                .modelScreen3_submit{
                    background-color: var(--yellow-text-color);
                    color: var(--dark-color-text);
                    width: 180px;
                }
            }

            &.screen3Wall{
                background: url('../../../assets/img/modelScreen3.svg');
                background-size: cover;
                background-position: center bottom;    border-radius: 1rem!important;
                @media(max-width:768px){
                    background: none;
                    background-color: var(--whitebg-color);
                    background-position: bottom;
                    background-size: cover;
                }
            }
            &.screen4Wall{
                background: url('../../../assets/img/modelScreen3.svg');
                background-size: cover;
                background-position:  right bottom;   border-radius: 1rem!important;

                @media(max-width:768px){
                    background: none;
                    background-color: var(--whitebg-color);
                    background-position: bottom;
                    background-size: cover;
                }
            }
        }
    }

   
}

