
<div class="container-sm model-popup" [ngClass]="viewMore ? 'modelActive' : ''">
    
    

    <div class="model-popup_wrap mx-auto my-auto rounded-3 p-4"  *ngIf="msgRecieved =='screen1'">
        <div class="row">
            <div class="col-md-12">
    
                <!-- <p>model-popup works! {{msgRecieved}} {{viewMore}}</p> -->
    
                <button class="btn btn-transparent text-light close-btn fs-3" (click)="closeMe($event)"><i class="uil uil-multiply"></i></button>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/uU3AIBmXF1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>

    </div>

    <div class="model-popup_wrap mx-auto my-auto rounded-3 p-4 modelScreen2" [ngClass]="{'screen3Wall': screen2Steps == 2, 'screen4Wall' : screen2Steps == 3 }"  *ngIf="msgRecieved =='screen2'">
        <div class="row ">
            <div class="col-md-12" *ngIf="screen2Steps == 1">
    
    
                <button class="btn btn-transparent text-light close-btn fs-3" (click)="closeMe($event)"><i class="uil uil-multiply"></i></button>
               
                <div class="row">
                    <div class="col-md-6 modelScreen2_left">
                        <h5 class="fw-bold">
                            Extramarks Padhai League
                        </h5>


                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="modelScreen2_polygon d-grid my-auto mx-auto justify-content-center align-middle text-center">
                                    <h5 class="fw-bold mb-0">1</h5>
                                    <h6 class="fw-bold">Question</h6>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="modelScreen2_polygon d-grid my-auto mx-auto justify-content-center align-middle text-center">
                                    <h5 class="fw-bold mb-0">1</h5>
                                    <h6 class="fw-bold">Minute</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 modelScreen2_right">
                        <h5>Instructions</h5>
                        
                        <!-- <p class="text-dark">model-popup works! {{msgRecieved}} {{viewMore}}</p> -->
                        <ul class="modelScreen2_ul">
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit consectetur adipiscing.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit consectetur adipiscing.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit consectetur adipiscing.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit consectetur adipiscing.</li>
                        </ul>

                        <button class="btn btn-lg shadow-sm mt-4 mb-4 pl-4 pr-4 home__cricket-letsplay d-flex mx-auto my-auto rounded-pill" (click)="letsPlay()">Let's Play</button>
                    </div>
                </div>
            </div>

            
            <div class="col-md-12 modelScreen3" *ngIf="screen2Steps == 2">
                
                <button class="btn btn-transparent text-light close-btn fs-3" (click)="closeMe($event)"><i class="uil uil-multiply"></i></button>
                <div class="row border-bottom  border-dark">
                    <div class="col-md-6">
                        <h5 class="fw-bold">Question of the Day</h5>
                        <p>Published On 28-05-2021 | 11PM (IST)</p>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6  my-auto mx-auto">Runs - 06</div>
                            <div class="col-md-6  my-auto mx-auto">Remaining time: 01:00</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="mt-4">Q. Conservation of momentum in a collision between particles can be understood.</p>
                    </div>

                    <div class="col-md-12">
                        <ul class="modelScreen3_ul p-0 m-0 mb-4"> 
                            <li class="shadow-sm p-3" [ngClass]="highNum == 1 ? 'activeAns' : ''" (click)="highNum = 1"><span class="modelScreen3_title pl-3">A</span> Conservation of energy.</li>
                            <li class="shadow-sm p-3"  [ngClass]="highNum == 2 ? 'activeAns' : ''" (click)="highNum = 2"><span class="modelScreen3_title pl-3">B</span> Newton's first law only.</li>
                            <li class="shadow-sm p-3"  [ngClass]="highNum == 3 ? 'activeAns' : ''" (click)="highNum = 3"><span class="modelScreen3_title pl-3">C</span> Newton's second law only.</li>
                            <li class="shadow-sm p-3"  [ngClass]="highNum == 4 ? 'activeAns' : ''" (click)="highNum = 4"><span class="modelScreen3_title pl-3">D</span> Both Newton''s second and third law.</li>
                        </ul>
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-transparent rounded-pill modelScreen3_submit  border-warning  bg-white mb-4 " (click)="lastSubmit()">
                            Submit
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 modelScreen4" *ngIf="screen2Steps == 3">
                
                <button class="btn btn-transparent text-light close-btn fs-3" (click)="closeMe($event)"><i class="uil uil-multiply"></i></button>
                <div class="row border-bottom  border-dark mt-2">
                    <div class="col-md-12 text-center">
                        <h5 class="fw-bold">Results</h5>
                        
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-12 text-center mt-3 mb-3">
                        <img class="text-center" src="assets/img/congratulation.svg">
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <p>Runs Scored</p>
                                <h1 class="fw-bold">
                                    06
                                </h1>
                            </div>
                            <div class="col-md-8 border-start  border-dark ">
                                <p>Your Rank</p>
                                <p>will be shared once all the users have attempted the question.</p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <div class="col-md-12 text-end mt-md-3">
                        <button class="btn btn-link shadown-none mb-3 mb-md-0 mt-md-3 "><i class="uil uil-share-alt"></i> Share Result</button>
                    </div>

                    <div class="col-md-12 text-center">
                        <p class="modelScreen4_welldone">Well performed! <br>
                            More questions coming your way at 11 AM tomorrow. Watch out!</p>
                    </div>

                    <div class="col-md-12 text-center">
                        <span>
                            <input type="checkbox" checked id="checkbox1" name="checkbox1" value="oho">
                            <label for="checkbox1" > Remind me for next question.</label><br>
                        </span>
                    </div>

                    <div class="col-md-12 text-center mb-1 mt-3 ">
                        <button class="btn  rounded-pill modelScreen3_submit   mb-4 mb-5 " (click)="reloadP()">
                            OK
                        </button>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

 
    
</div>
