/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;1,100;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,ul{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif !important;
    font-size: 0.92em !important;
}



$blue-primary: #1D4791;
$yellow-primary: #FFCE00;
$cards-gradient1:#263c81;
$cards-gradient2: #1998d5;
$primary-bg: #FFEACB;
$text-color: #fff;
$dark-bg: #212121;

$dark-text-color: #212121;
$white-bg-color: #fff;

$left-nav-color: #a6c6e3;

$color-blue-font:#263c81;


:root{
    --left-nav-bg: #{$blue-primary};
    --colot-text: #{$text-color};
    --bg-color: #{$primary-bg};
    --dark-color-text: #{$dark-text-color};
    --yellow-text-color: #{$yellow-primary};

    --gradient1:#{$cards-gradient1};
    --gradient2:#{$cards-gradient2};

    --whitebg-color: #{$white-bg-color};

    --leftnav-color: #{$left-nav-color};

    --blue-color-text: #{$color-blue-font};
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--left-nav-bg); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--yellow-text-color); 
    border-radius:4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body{
    background-color: var(--bg-color);
    color: var(--colot-text) !important;

   .card-blue-gr{
    background: var(--bg-color);
    background: linear-gradient(90deg, var(--gradient1) 0%,var(--gradient2) 100%);
   }
   .left-nav-bg{
       background-color: var(--left-nav-bg);
   }
   .text-white{
       color: var(--colot-text);
       i{
           color: var(--colot-text);
       }
   }
  
   .darkTheme{
    transition: all 1s ease;
    --left-nav-bg: #000;
    --gradient1: #000;
    --gradient2: #000;
    --whitebg-color: #000;
    --dark-color-text:#fff;
    --blue-color-text:#2196f3;
       
       .home__floating-wave-top{
        transition: all 0.5s ease;
        filter: grayscale(100%);
       }

    }
    
}
